{
  "root": true,
  "env": {
    "browser": false,
    "node": true
  },
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "extends": [
    "plugin:vue/essential",
    "eslint:recommended"
  ],
  "rules": {
    "no-console": "off",
    "no-debugger": "off"
  }
}