{
  "root": true,
  "env": {
    "browser": false,
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "parser": "@babel/eslint-parser"
  },
  "extends": [
    "plugin:vue/recommended",
    "eslint:recommended"
  ],
  "rules": {
    "no-console": "off",
    "no-debugger": "off"
  }
}
