.summary {
  background-color: $gray-lighter;
  color: $secondary;

  input {
    color: $gray-medium;
    text-indent: 16px;
    text-transform: uppercase;

    &::placeholder {
      color: $gray-medium;
      text-transform: lowercase;
    }
  }

  ul {
    li {
      font-size: 14px;
      line-height: 17px;

      & > *:nth-child(2) {
        font-weight: bold;
      }
    }
  }
}

.summary-items-price {
  font-size: 16px;
  font-weight: bold;
}

.summary-total {
  border-top-style: solid;
  border-top-color: rgba(33, 34, 64, 0.16);
  color: $secondary;
}

.summary-total-cost {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
}

.summary-total-price {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
}
