.product-details-close-icon {
  color: $gray-medium;
  font-size: 22px;
  cursor: pointer;
}


.product-details-code{
  color: $gray-light;
  font-size: 12px;
  font-weight: bold;
}


.product-details-description{
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}